<nav class="navbar navbar-toggleable navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Membrane - File Backup</a>

    <div class="navbar-nav" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [class.active]="option === 'Home'" (click)="clickNavBar('Home')">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [class.active]="option === 'Help'" (click)="clickNavBar('Help')">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div *ngIf="option === 'Home'">
        <main-app>Loading main-screen...</main-app>
    </div>
    <div *ngIf="option === 'Help'">
        <help-module>Loading help screen...</help-module>
    </div>
</div>


<footer class="footer">
    <div class="container vertical-align">
        <p class="text-muted text-right">Membrane GUI {{version}}</p>
    </div>
</footer>