<div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="logo">
                <img src="assets/noun_739905_cc_membrane_icon.svg"/>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="menuOption === 'Overview'" (click)="clickMenu('Overview')">
                    <div class="nav-icon">
                        <img src="assets/noun_740700_cc_home_icon.svg"/>
                    </div>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="menuOption === 'Storage'" (click)="clickMenu('Storage')">
                    <div class="nav-icon">
                        <img src="assets/noun_793919_cc_storage_icon.svg"/>
                    </div>
                    Storage
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="menuOption === 'Watcher'" (click)="clickMenu('Watcher')">
                    <div class="nav-icon">
                        <img src="assets/noun_198346_cc_watcher_icon.svg"/>
                    </div>
                    Watcher
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="menuOption === 'Network'" (click)="clickMenu('Network')">
                    <div class="nav-icon">
                        <img src="assets/noun_455_cc_network_icon.svg"/>
                    </div>
                    Network
                </a>
            </li>
        </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <div *ngIf="menuOption === 'Overview'">
            <overview-component>Loading overview screen...</overview-component>
        </div>
        <div *ngIf="menuOption === 'Storage'">
            <storage-component>Loading storage screen...</storage-component>
        </div>
        <div *ngIf="menuOption === 'Watcher'">
            <watcher-component>Loading watcher screen...</watcher-component>
        </div>
        <div *ngIf="menuOption === 'Network'">
            <network-component>Loading network screen...</network-component>
        </div>
    </main>
</div>